html{
    font-size: 100%;
    box-sizing: border-box;
    
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
// by adding box-sizing to border box before and after we ensure the 100% width of a particular elements includes margin,padding and everything in it.
body{
    margin: 0;
    padding: 0;
    font-family: var(--font-inter);
    background: var(--background);
    color: var(--text-color);

}